<a href="https://colab.research.google.com/github/jen-yunjimin/Data_Crawling_Practice/blob/master/220418_%EB%84%A4%EC%9D%B4%EB%B2%84_%ED%99%98%EC%9C%A8_%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
from bs4 import BeautifulSoup
import requests

In [27]:
URL = "https://finance.naver.com/marketindex/"

In [28]:
response = requests.get(URL)
page = response.content # 접속한 웹사이트의 html 코드를 가져오기

In [29]:
soup = BeautifulSoup(page, 'html.parser') # html 불러오기

In [30]:
exchange_list = soup.select_one("#exchangeList") # 환전고시환율 가져오기

In [31]:
fin_list = exchange_list.find_all("li") # 환전고시환율에서 리스트 뽑기 (미국, 일본, 유럽연합, 중국)
fin_list

[<li class="on">
 <a class="head usd" href="/marketindex/exchangeDetail.naver?marketindexCd=FX_USDKRW" onclick="clickcr(this, 'fr1.usdt', '', '', event);">
 <h3 class="h_lst"><span class="blind">미국 USD</span></h3>
 <div class="head_info point_up">
 <span class="value">1,235.00</span>
 <span class="txt_krw"><span class="blind">원</span></span>
 <span class="change">5.50</span>
 <span class="blind">상승</span>
 </div>
 </a>
 <a class="graph_img" href="/marketindex/exchangeDetail.naver?marketindexCd=FX_USDKRW" onclick="clickcr(this, 'fr1.usdc', '', '', event);">
 <img alt="" height="153" src="https://ssl.pstatic.net/imgfinance/chart/marketindex/FX_USDKRW.png" width="295"/>
 </a>
 <div class="graph_info">
 <span class="time">2022.04.18 20:00</span>
 <span class="source">하나은행 기준</span>
 <span class="count">고시회차<span class="num">187</span>회</span>
 </div>
 </li>, <li class="">
 <a class="head jpy" href="/marketindex/exchangeDetail.naver?marketindexCd=FX_JPYKRW" onclick="clickcr(this, 'fr1.jpyt', '', '', event);">
 <h3 class="h_lst"><span class="blind">일본 JPY(100엔)</span></h3>
 <div class="head_info point_up">
 <span class="value">975.32</span>
 <span class="txt_krw"><span class="blind">원</span></span>
 <span class="change">3.04</span>
 <span class="blind">상승</span>
 </div>
 </a>
 <a class="graph_img" href="/marketindex/exchangeDetail.naver?marketindexCd=FX_JPYKRW" onclick="clickcr(this, 'fr1.jpyc', '', '', event);">
 <img alt="" height="153" src="https://ssl.pstatic.net/imgfinance/chart/marketindex/FX_JPYKRW.png" width="295"/>
 </a>
 <div class="graph_info">
 <span class="time">2022.04.18 20:00</span>
 <span class="source">하나은행 기준</span>
 <span class="count">고시회차<span class="num">187</span>회</span>
 </div>
 </li>, <li class="">
 <a class="head eur" href="/marketindex/exchangeDetail.naver?marketindexCd=FX_EURKRW" onclick="clickcr(this, 'fr1.eurt', '', '', event);">
 <h3 class="h_lst"><span class="blind">유럽연합 EUR</span></h3>
 <div class="head_info point_up">
 <span class="value">1,333.92</span>
 <span class="txt_krw"><span class="blind">원</span></span>
 <span class="change">5.08</span>
 <span class="blind">상승</span>
 </div>
 </a>
 <a class="graph_img" href="/marketindex/exchangeDetail.naver?marketindexCd=FX_EURKRW" onclick="clickcr(this, 'fr1.eurc', '', '', event);">
 <img alt="" height="153" src="https://ssl.pstatic.net/imgfinance/chart/marketindex/FX_EURKRW.png" width="295"/>
 </a>
 <div class="graph_info">
 <span class="time">2022.04.18 20:00</span>
 <span class="source">하나은행 기준</span>
 <span class="count">고시회차<span class="num">187</span>회</span>
 </div>
 </li>, <li class="">
 <a class="head cny" href="/marketindex/exchangeDetail.naver?marketindexCd=FX_CNYKRW" onclick="clickcr(this, 'fr1.cnyt', '', '', event);">
 <h3 class="h_lst"><span class="blind">중국 CNY</span></h3>
 <div class="head_info point_up">
 <span class="value">193.71</span>
 <span class="txt_krw"><span class="blind">원</span></span>
 <span class="change">1.09</span>
 <span class="blind">상승</span>
 </div>
 </a>
 <a class="graph_img" href="/marketindex/exchangeDetail.naver?marketindexCd=FX_CNYKRW" onclick="clickcr(this, 'fr1.cnyc', '', '', event);">
 <img alt="" height="153" src="https://ssl.pstatic.net/imgfinance/chart/marketindex/FX_CNYKRW.png" width="295"/>
 </a>
 <div class="graph_info">
 <span class="time">2022.04.18 20:00</span>
 <span class="source">하나은행 기준</span>
 <span class="count">고시회차<span class="num">187</span>회</span>
 </div>
 </li>]

In [32]:
sample_li = fin_list[0] # 위에서 뽑은 리스트에서 미국 가져오기
sample_li

<li class="on">
<a class="head usd" href="/marketindex/exchangeDetail.naver?marketindexCd=FX_USDKRW" onclick="clickcr(this, 'fr1.usdt', '', '', event);">
<h3 class="h_lst"><span class="blind">미국 USD</span></h3>
<div class="head_info point_up">
<span class="value">1,235.00</span>
<span class="txt_krw"><span class="blind">원</span></span>
<span class="change">5.50</span>
<span class="blind">상승</span>
</div>
</a>
<a class="graph_img" href="/marketindex/exchangeDetail.naver?marketindexCd=FX_USDKRW" onclick="clickcr(this, 'fr1.usdc', '', '', event);">
<img alt="" height="153" src="https://ssl.pstatic.net/imgfinance/chart/marketindex/FX_USDKRW.png" width="295"/>
</a>
<div class="graph_info">
<span class="time">2022.04.18 20:00</span>
<span class="source">하나은행 기준</span>
<span class="count">고시회차<span class="num">187</span>회</span>
</div>
</li>

In [33]:
# sample_li에서 통화 이름 가져오기(1)
c_name = sample_li.find("h3",{"class":"h_lst"}).text
c_name

'미국 USD'

In [34]:
# sample_li에서 통화 이름 가져오기(2)
c_name = sample_li.select_one('h3.h_lst').text
c_name

'미국 USD'

In [35]:
# sample_li에서 미국 환율 가져오기
exchange_rate = sample_li.select_one("span.value").text
exchange_rate

'1,235.00'

In [36]:
# sample_li에서 미국 환율 변동 가져오기
us_change = sample_li.select_one("span.change").text
us_change

'5.50'

In [37]:
updown = sample_li.select("span.blind")
updown[-1].text

'상승'

In [38]:
for fin in fin_list:
  c_name = fin.select_one('h3.h_lst').text
  exchange_rate = fin.select_one("span.value").text
  us_change = fin.select_one("span.change").text
  updown = fin.select_one("span.change").nextSibling.nextSibling.text

  print(c_name, exchange_rate, us_change, updown)

미국 USD 1,235.00 5.50 상승
일본 JPY(100엔) 975.32 3.04 상승
유럽연합 EUR 1,333.92 5.08 상승
중국 CNY 193.71 1.09 상승

In [39]:
c_name_list = []
exchange_rate_list = []
us_change_list = []
updown_list = []

for fin in fin_list:
  c_name = fin.select_one('h3.h_lst').text
  exchange_rate = fin.select_one("span.value").text
  us_change = fin.select_one("span.change").text
  updown = fin.select_one("span.change").nextSibling.nextSibling.text

  print(c_name, exchange_rate, us_change, updown)
  c_name_list.append(c_name)
  exchange_rate_list.append(exchange_rate)
  us_change_list.append(us_change)
  updown_list.append(updown)

미국 USD 1,235.00 5.50 상승
일본 JPY(100엔) 975.32 3.04 상승
유럽연합 EUR 1,333.92 5.08 상승
중국 CNY 193.71 1.09 상승

In [40]:
fin_datas = {
    "국가":c_name_list,
    "환율":exchange_rate_list,
    "변동":us_change_list,
    "등락":updown_list
}

fin_datas

{'국가': ['미국 USD', '일본 JPY(100엔)', '유럽연합 EUR', '중국 CNY'],
 '등락': ['상승', '상승', '상승', '상승'],
 '변동': ['5.50', '3.04', '5.08', '1.09'],
 '환율': ['1,235.00', '975.32', '1,333.92', '193.71']}

In [41]:
import pandas as pd
df_finance = pd.DataFrame(fin_datas)
df_finance.to_csv("fin_220418.csv")
df_finance

             국가        환율    변동  등락
0        미국 USD  1,235.00  5.50  상승
1  일본 JPY(100엔)    975.32  3.04  상승
2      유럽연합 EUR  1,333.92  5.08  상승
3        중국 CNY    193.71  1.09  상승